<!DOCTYPE html>
<html>
  <head>
    <% const ROOT_DIR = process.cwd() %>
    <%- include(ROOT_DIR + '/views/layout/include'); %>
  </head>
  <body class="text-center with-nav">
    <header>
      <%- include(ROOT_DIR + '/views/layout/header'); %>
    </header>
    <main class="container with-nav">
      <article class="my-3">
        <h1 class="h3 mb-3 fw-normal">내 정보</h1>
      </article>
      <div class="row">
        <div class="col-12">
          프로필사진 <%= user.profileImg %>
        </div>
        <div class="col-12">
          <%= user.email %>
        </div>
        <div class="col-12">
          <%= user.nickname %>
        </div>
        <div class="col-12">
          생성일: <%= user.insertDate %>
        </div>
        <div class="col-12">
          권한: <%= user.auth %>
        </div>
      </div>
      <!-- FOOTER -->
      <%- include(ROOT_DIR + '/views/layout/footer'); %>
    </main>
  </body>
  <!-- FOOTER -->
  <%- include(ROOT_DIR + '/views/layout/footer'); %>
</html>